
/************************************************************************ CSS POUR LE BACKEND DE NOTRE SITE **************************************************/



/** CUSTOM RULES MOBILE **/

@media only screen and (max-width: 600px) {
.espace_backend_30_for_mobile_only
{
	width: 100%;
	margin-bottom: 30px;
}
.blue_lien_profile
{
	 text-align:center;
}

.blue_lien
{
	text-align: center;
}

}



/* CSS POUR LA FORM LOGIN */

.form {
  position: relative;
	border-radius: 25px;
  z-index: 1;
  background: #E6EAED;
  max-width: 360px;
  margin: 0 auto 100px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form .padding

{
	padding-top: 20px;
	padding-left: 10px;
	padding-right:  10px;
	padding-bottom: 0px;
}
.form .valide_message
{
color: green;
padding-top: 10px;
}
.form .erreur_message
{
	color: red;
	padding-top: 10px;
}
.form .padding2
{
	padding-top: 0px;
	padding-left: 100px;
	padding-right:  100px;
	padding-bottom: 0px;
}
.form .padding3
{
	padding-bottom: 10px;
	text-align: right;
	padding-right: 30px;
}
.form input {

  font-family: "Raleway", sans-serif;
  outline: 0;
  background: #E6EAED;
  width: 100%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 24px;
}
.form button {
	border-radius: 10px;
	font-weight: bold;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0E02BC;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.6;
  transition: all 0.6s;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: white;
	color: #0E02BC;
}

.form .titre_login
{
 padding-bottom: 1px;
 padding-top: 1px;
  border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: white;
	background-color: #0E02BC;
	font-weight: bold !important;
	 font-family: "Raleway" !important;
}


.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
	font-style: italic;
  color: #0E02BC;
  text-decoration: none;
}
.form .message a:hover
{
	  color: white;
}



::placeholder {

color: #0E02BC;
opacity: 0.7;
}
.login_input_style
{
	 color: #0E02BC !important;
}


/* FIN  DU CSS FORM LOGIN  */




/****************************************** BACKEND CSS STYLE ***********************************/

/*** RENDEZ VOUS CARD STYLE *******/



.card-ligne2-rendezvous
{
	font-size: 20px;
	font-family: "Raleway";
}

.card-ligne1-rendezvous
{

	font-size: 20px;
	font-family: "Raleway";
}
.card_rendezvous
{

	-webkit-box-shadow:inset 0px 0px 0px 2px #0E02BC;
    -moz-box-shadow:inset 0px 0px 0px 2px #0E02BC;
    box-shadow:inset 0px 0px 0px 2px #0E02BC;
		color: #0E02BC;
		padding: 15px;


}

/*** ACCUEIL CARD STYLE ***********/
.counter1
{
	 margin-left: 125px;
	 height: 50px;
   width: 50px;
   background-color: #0E02BC;
   border-radius: 50%;
	 text-align: center;
	 color: white;
	 font-family: "Raleway";
	 font-size: 30px;
}

.card_blue_text
{
	 padding-top: 20px;
	 text-align: center;
	 font-family: "Raleway";
	 font-size: 18px;
	 color: #0E02BC;
}
.lightgraycard

{
		background-color: #E6EAED;
		color: #0E02BC;
		text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-right: 10px !important;
    margin-left: 10px !important;


}

/** FIN ACCUEIL CARD STYLE **/




/***  INPUT STYLE CUSTOM POUR BOOTSTRAP ****/


.btn-primary
{
	border-radius: 10px;
  font-family: "Raleway", sans-serif;
  outline: 0;
  background: #0E02BC;
/*  width: 100%;*/
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.6;
  transition: all 0.6s;
  cursor: pointer;
}
.btn-primary:hover{
	background: #E6EAED;
	color: #0E02BC;
}
.form-control{
  border-radius: 0px;
	background-color: #E6EAED;
	color: #0E02BC;
	border-color: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.form-control:focus{
	background-color: #E6EAED;
	color: #0E02BC ;
	border-color: #0E02BC;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.has-error .form-control:focus{
	background-color: #E6EAED;
	color: #0E02BC ;
	border-color: red;
	box-shadow: none;
	-webkit-box-shadow: none;
}
/************/
/** MENU DE GAUCHE BACKEND **/

.blue_menu
{

	font-family: "Raleway";
	color: #0E02BC;
	font-size: 20px;
	text-align: left;

}
.blue_lien_profile
{
		padding-top: 20px !important;
	font-family: "Raleway";
	font-weight: 600;
	color: #0E02BC;
	font-size: 28px;
/*	text-align: left;*/
}
.blue_lien

{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-family: "Raleway";
	font-weight: 500;
	color: #0E02BC;
	font-size: 20px;
/*	text-align: left; */
}
/**   MENU BARRE AU DESSUS DU TABLEAU STYLE  **/


.lightgray {
	margin-right: 0px !important;
	margin-left: 0px !important;
background: #E6EAED;

}
.titre_menu_admin
{
	width: 100%;
	height: 80px;
	background-color: #E6EAED;

	font-family: "Raleway";
	color: #0E02BC;
	text-align:center;
}

.espace_backend_30
{
		width: 100%;
	 	margin-bottom: 30px;
}


.espace_backend_60
{
		width: 100%;
	 	margin-top: 60px;
}

.titre_menu_admin p
{
	 	text-align:left;
	 padding-left: 50px;
	 padding-top: 19px;
	 font-size: 30px;
}


@media only screen and (max-width: 700px) {

.titre_menu_admin p
{
	padding-left: 0px;
	 	text-align:center;
	 padding-top: 10px;
	 font-size: 30px;
}
}




.titre_menu_admin i
{
font-size: 60px;
padding-top: 10px;
text-align: center;
}

/**  TABLE CSS   STYLE  **/

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #E6EAED;
}



/** PAS BIEN  A RETRAVAILLER AVEC SELECTEUR ICI COMME PLUS HAUT */


table.table tr th{

	background-color:#0E02BC !important; color:white !important;
}

.table.table td {

	 color: #0E02BC !important;
}

.haut_du_tableau_tr {

/*border: 0px !important;*/
background-color:white !important;
}

.haut_du_tableau_th {
/*	border: 1px !important;*/
	background-color: white !important;
}

.tableau_tbody {

	 padding-bottom: 20px !important;
}
.supprimer_ligne_tableau_tr {

border: 0px !important;
background-color:white !important;
}


.supprimer_ligne_tableau_td {
	text-align: center;
		border-top: 0px !important;
	border: 0px !important;
  background-color: white !important;
}

/* FIN DU TABLE CSS STYLE */



/****************************************** FIN  BACKEND CSS STYLE ***********************************/
