.navbar{
	background-color: #0000a0 !important;
}

h1{
	text-align: center;
	color: #0000a0 ;
}
.icon_connexion{

   color: white;
}

.separation{
	border-left: 1px solid black;

	font-size: 10px;
}
.reso{
	margin-left: 50px;
	color: white;
}
.user{
	color: white;
}
.numero{
	color: white;
	/*position: relative;
	right: 200px;*/
}
img{
	height: 150px;


}
#log{
	text-align: center;
}
.adresse{
	color: white;
	/*position: relative;
	right: 500px;*/
}

.col-lg-offset-6 {
margin-left: 50%;
}
.container-fluid {
padding-right: 15px;
padding-left: 15px;
margin-right: 0px;
margin-left: 0px;
}
#menu{
  background-color: #e7e7e7;
}
#iconMenu{
	color: #0000a0;
}
p{
	color: #0000a0;

};
.list-tab{
	background-color: #0000a0 !important;
}
#titre{
	background-color: #e7e7e7;
	color: #0000a0;
}
/*Mes clients*/
.fa-plus-circle{
	font-size: 20px;
}
#trie{
	text-align: center;
}
/*Mes Dossiers*/
.fa-users{
	font-size: 100px;
	/*text-align: center;*/
	color: #0000a0;
}
.fa-folder-open{
	font-size: 100px;
	/*text-align: center;*/
	color: #0000a0;
}
.fa-archive{
	font-size: 100px;
	/*text-align: center;*/
	color: #0000a0;
}
#users{

	background-color: #c4c4c4;
	/*text-align: center;*/
}
#open{
	background-color: #c4c4c4;
}
#archive{
	background-color: #c4c4c4;
}

/*Newsletters*/
#blok{
	background-color: #0000a0;

}
.fa-file-download{
	color: 	#0000a0;
	font-size: 	200px;
	text-align: 	center;
}
.downl{
	text-align: 	center;
}








/*Rendez-vous*/
#border1{
	border: 3px solid #0000a0;
	color: #0000a0;
	text-align: center;
	font-size: 20px;
}
.buto{
	text-align: center;
}
#conct{
	background-color: #0000a0 !important;
	border-radius: 10px;
}
#concte{
	background-color: #0000a0 !important;
	border-radius: 10px;
	position: relative;
	bottom: 5px;
}
.demande{
	text-align: center;
	color: #0000a0;
}
#imgBut{
	text-align: center;
}
#lab{
	text-align: center;
}
