.navbar{
	background-color: #0000a0 !important;
}
.reso{
	margin-left: 50px;
	color: white;
}
.user{
	color: white;
}

.numero{
	color: white;
	/*position: relative;
	right: 200px;*/
}
.adresse{
	color: white;
	/*position: relative;
	right: 500px;*/
}
img{
	height: 150px;


}
#log{
	text-align: center;
}
.demande{
	text-align: center;
	color: #0000a0;
}

#video{
	text-align: center;
}
#celine{
	text-align: center;
	border: 1px solid;
	background-color: #1e1e1e;
	color: white;
}
