.navbar{
	background-color: #0000a0 !important;
}
.reso{
	margin-left: 50px;
	color: white;
}
.user{
	color: white;
}
.icon_connexion{

   color: white;
}
.numero{
	color: white;
	/*position: relative;
	right: 200px;*/
}
.adresse{
	color: white;
	/*position: relative;
	right: 500px;*/
}
img{
	height: 150px;


}
#log{
	text-align: center;
}
.demande{
	text-align: center;
	color: #0000a0;
}

#expert{
	text-align: center;
	background-color: #e0e0e0;
}
h4{
	color: #0000a0;
}
#but{
	color: white !important;
	background-color: #0000a0 !important;
	border-radius: 30px !important;
}
#imgAv{
	text-align: center !important;
}
#DCP{
	text-align: center;
	background-color: #7C7C7C;
}
.DC{
	text-align: center;
	position: relative;
	left: 50px;
}
.actualite1 {
	width: 90%;
	height: 80px;
	background-color: #70798c;
	color:#fff;
	margin-left: 10px;
	text-align: center;
	margin-bottom: 20px;
}
.actualite2{
	width: 80px;
	height: 40px;
	background-color: #70798c;
	color:#fff;
	margin-left: 10px;
}
.actualite3{
	width: 80px;
	height: 40px;
	background-color: #70798c;
	color:#fff;
}
